<!doctype html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2>차량삭제</h2>

    <!-- 차량번호 입력 폼 -->
    <form action="/car/delete" method="post">
        <div class="mb-3">
            <label for="carNumber" class="form-label">차량번호</label>
            <input type="text" class="form-control" id="carNumber" name="carNumber" required>
        </div>
        <button type="submit" class="btn btn-danger" style="background-color: #20c997">삭제</button>
    </form>

    <!-- 오류 메시지 출력 -->
    <div th:if="${error != null}" class="mt-3">
        <p th:text="${error}" class="text-danger" style="font-size: large; font-style: inherit;"></p>
    </div>

    <!-- 성공 메시지 출력 -->
    <div th:if="${success != null}" class="mt-3">
        <p th:text="${success}" class="text-success" style="font-size: large; font-style: inherit;"></p>
    </div>
</div>
</html>