<!doctype html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="text-center">
        <h2 class="mb-5">차량메뉴</h2>
            <div class="d-grid gap-5 col-4 mx-auto">
                <a class="btn btn-primary" href="/car/register" style="background-color: #20c997">차량등록</a>
                <a class="btn btn-primary" href="/car/search" style="background-color: #20c997">차량조회</a>
                <a class="btn btn-primary" href="/car/modify" style="background-color: #20c997">차량수정</a>
                <a class="btn btn-primary" href="/car/delete" style="background-color: #20c997">차량삭제</a>
            </div>
        </div>
    </div>
</div>
</html>