<!doctype html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="text-center">
        <h2 class="mb-5">회원메뉴</h2>
        <div class="d-grid gap-5 col-4 mx-auto">
            <a class="btn btn-primary" href="/member/register" style="background-color: #20c997">회원등록</a>
            <a class="btn btn-primary" href="/member/search" style="background-color: #20c997">회원조회</a>
            <a class="btn btn-primary" href="/member/modify" style="background-color: #20c997">회원수정</a>
            <a class="btn btn-primary" href="/member/delete" style="background-color: #20c997">회원삭제</a>
        </div>
    </div>
</div>
</html>