<!doctype html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2>예약 등록</h2>
    <form action="/res/regDDay" method="post">
        <div class="mb-3">
            <label for="resNumber" class="form-label">예약번호</label>
            <input type="text" class="form-control" id="resNumber" name="resNumber" required>
        </div>
        <div class="mb-3">
            <label for="returnMonth" class="form-label">시용기간 (오늘부터 이용하실 수 있습니다)</label>
            <select class="form-control" id="returnMonth" name="returnMonth" required>
                <option value="1">1개월</option>
                <option value="2">2개월</option>
                <option value="3">3개월</option>
                <option value="4">4개월</option>
                <option value="5">5개월</option>
                <option value="6">6개월</option>
                <option value="7">7개월</option>
                <option value="8">8개월</option>
                <option value="9">9개월</option>
                <option value="10">10개월</option>
                <option value="11">11개월</option>
                <option value="12">12개월</option>
            </select>
        </div>
        <input type="hidden" id="carNumber" name="carNumber" th:value="${carNumber}">
        <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
        <button type="submit" class="btn btn-primary" style="background-color: #20c997">등록</button>

        <!-- 성공 메시지 출력 -->
        <div th:if="${successMessage != null}" class="mt-3">
            <p th:text="${successMessage}" class="text-success"></p>
        </div>

        <!-- 오류 메시지 출력 -->
        <div th:if="${errorMessage != null}" class="mt-3">
            <p th:text="${errorMessage}" class="text-danger"></p>
        </div>
    </form>
</div>
</html>
