<!doctype html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="text-center">
        <h2 class="mb-5">예약메뉴</h2>
        <div class="d-grid gap-3 col-4 mx-auto">
            <a class="btn btn-primary" href="/res/register" style="background-color: #20c997">예약등록</a>
            <a class="btn btn-primary" href="/res/register0" style="background-color: #ffda6a">[NEW] 예약D-Day</a>
            <a class="btn btn-primary" href="/res/search" style="background-color: #20c997">예약조회</a>
            <a class="btn btn-primary" href="/res/modify" style="background-color: #20c997">예약수정</a>
            <a class="btn btn-primary" href="/res/delete" style="background-color: #20c997">예약삭제</a>
            <a class="btn btn-primary" href="/res/send" style="background-color: #ffda6a">[NEW] 예약양도</a>
        </div>
    </div>
</div>
</html>